<div style="text-align:center">
  <h1>
    The Swagger Way
  </h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons | async">
        <th>{{person.id}}</th>
        <td>{{person.firstname}}</td>
        <td>{{person.lastname}}</td>
        <td>
          <a href="mailto:{{person.mail}}">{{person.mail}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
